@font-face {
    font-family: "BadHorse";
    src: url("fonts/badhorse.ttf") format("opentype");
}

body {
    background-color: #030F32;
}

header img {
    margin-top: 10px;
    margin-left: 10px;
}

header h1 {
    color: #E6E8DC;
    font-family: 'Young Serif', sans-serif;
    letter-spacing: 0.05em;
}

nav a {
    color: #E6E8DC;
}

nav ul li {
    margin-right: 40px;
}


nav a[href="#accueil"] {
    text-decoration: underline;
    text-decoration-color: #E6E8DC;
}



#accueil img {
    margin-left: 30%;
    margin-top: 10%;
}


#accueil h2 {
    font-family: 'Young Serif', sans-serif;
    font-size: 90px;
    color: #E6E8DC;
    margin-left: 100px;
    margin-top: 80px;
    line-height: 1.7;
    letter-spacing: 0.1em;
}


 .image-container {
    width: 500px;
    height: 500px;
} 

.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#portfolio-text {
    position: relative; /* Ajouté pour le positionnement */
    z-index: 1; /* Ajouté pour s'assurer que le texte se superpose aux images */
}




